* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --clr-main: wheat;
    --clr-main-light: wheat;
}

navbar {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-main);
    border-bottom: 3px solid black;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    text-decoration: solid;
    color: black;
    font-size: 1.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-link:hover {
    transform: scale(1.2);
    color: #fff;
}
